params {
  executor = 'google-lifesciences'
  dataLocation = 'gs://lifebit-featured-datasets/pipelines/spammer-nf/input_data_of_known_size/'
  gls_bootDiskSize_fallback = 10.GB
}

google {
    // If set < 10.GB, this error will be returned: Requested disk size cannot be smaller than the image size (10 GB)
    lifeSciences.bootDiskSize = params.gls_bootDiskSize >= '10 GB' ? params.gls_bootDiskSize : params.gls_bootDiskSize_fallback
    lifeSciences.preemptible = params.gls_preemptible
    zone = params.zone
    network = params.network
    subnetwork = params.subnetwork
}
